h1{
    text-align: center;
}

.card{
    margin-bottom: 20px;
}

.jumbotron{
    background-image: url("../images/sunrise2.jpg");
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    color: blue;

}